
/*default*/

.headersection {  background: #ca932f none repeat scroll 0 0;   }

.icon a { background: #a56e0a none repeat scroll 0 0;}

.searchbtn input[type="text"] {
	border: 1px solid #A56E0A;   background: #FFE07C;
	}

.searchbtn input[type="text"] {
	border: 1px solid #A56E0A;
	}
input[type="submit"] {
	background: #b7801c none repeat scroll 0 0;
	border: 1px solid #e6af4b;
	
}
.searchbtn input[type="submit"] {
	border: 1px solid #636363;
}

.navsection {
	background: none repeat scroll 0 0 #e6af4b;

}

.navsection ul li {
	border-left: 1px solid #fdc662;
	border-right: 1px solid #c18a26;

}
.contentsection {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #ca932f; }
.maincontent {  background: #fef4e5 none repeat scroll 0 0; }
.samepost h2 a { color: #ac7511;}
.samepost h4 a, .about h4 a {	color: #3399FF; }
.samepost h2, .about h2 {  color: #ac7511; }
.samepost p { color: white; }

.sidebar {
	background: #fef4e5 none repeat scroll 0 0;
	border: 1px solid #ded4c5;
}
.samesidebar h2 {
	background: #e6af4b none repeat scroll 0 0;
	border-bottom: 2px solid #b7801c;
	color: #333;
}
.samesidebar ul li a {
	color: #814a00;
}
.popular h3 a { color: #444; }
.relatedpost h2 {
	background: #e6af4b none repeat scroll 0 0;
	border-bottom: 2px solid #b7801c !important;
	color: #000 !important;
}
.footersection { background: #B7801C; }
.footermenu ul li a {
	color: #E6AF4B;
}