/*green*/	

.headersection {  background:green none repeat scroll 0 0;   }

.icon a { background: #37B737 none repeat scroll 0 0;}

.searchbtn input[type="text"] {
	border: 1px solid #A56E0A;   background: #fff;
	}

.searchbtn input[type="text"] {
	border: 1px solid #6D6D6D;
	}
input[type="submit"] {
	background: #37B737 none repeat scroll 0 0;
	border: 1px solid #636363;
	
}
.searchbtn input[type="submit"] {
	border: 1px solid #666666;
	
}
.navsection {
	background: none repeat scroll 0 0 #338B33;
	
}

.navsection ul li {
	border-left: 1px solid #37B737;
	border-right: 1px solid #474747;

}
.contentsection {
	background: #2EAE2E none repeat scroll 0 0;
	border: 1px solid #78EA78; }
.maincontent {  background: #189818 none repeat scroll 0 0; }
.maincontent {
	border: 1px solid #2F912F;
}
.samepost h2 a { color: #fff;}
.samepost h4 a, .about h4 a { color: #fff;}
.samepost h2, .about h2 {  color: #fff; }
.samepost p { color: white; }
.about p {
	color: white;
}
.sidebar {
	background: #189818 none repeat scroll 0 0;
	border: 1px solid #31A631;
	}
.samesidebar h2 {
	background: #46C646 none repeat scroll 0 0;
	border-bottom: 2px solid #4e4e4e;
	color: #fff;
	
}
.samesidebar ul li a {
	color: #fff;

}

.popular h3 a {
	color: #fff;
}
.popular p {
	color:#fff;
}
.relatedpost h2 {
	background: #128712 none repeat scroll 0 0;
	border-bottom: 2px solid #066C06 !important;
	color: #fff !important;

}
.footersection { background: #008000; }
.footermenu ul li a {
	color: #fff;
}
.footersection p {
	color: #fff;
}